NODE_ID=1
NODE_TOKEN=replace_me

CONTROL_SERVER_URL=ws://localhost:5000/node-agent

HEARTBEAT_INTERVAL_MS=10000
RECONNECT_MIN_DELAY_MS=1000
RECONNECT_MAX_DELAY_MS=30000

XRAY_BINARY_PATH=/usr/local/bin/xray
XRAY_SERVICE_NAME=xray

LOG_LEVEL=info