BOT_TOKEN=8272884998:AAF4zJ7_z78m68tZ9gDl2QwwZSDM1UmoiNo

XRAY_API_ADDRESS=127.0.0.1:10085
XRAY_INBOUND_TAG=vless-reality-in

VPN_HOST=
VPN_PORT=443
VPN_NAME=Amsterdam

REALITY_PASSWORD=
REALITY_SERVER_NAME=www.cloudflare.com
REALITY_SHORT_ID=
